@import url("./fonts/ComicRelief-Regular.ttf");

@font-face {
  font-family: "ComicRelief";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/ComicRelief-Regular.ttf) format("truetype");
}

:root {
  --text: #4f5264;
  --text-title: #393c4d;
  --bg: #fff9ee;
  --bg-highlight: #f0ecde;

  --control: var(--bg);
  --control-border: #9e9ca7;
  --control-highlight: #ebe6d9;
  --control-border-radius: 4px;

  --spacing-s: 6px;
  --spacing-m: 10px;
  --spacing-l: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-title: #ffffff;
    --bg: #1a1d24;
    --bg-highlight: #0000002c;

    --control: var(--bg);
    --control-border: #4a4b55;
    --control-highlight: #202531;
  }
}

/* ---------------------------------- */
/* ------------ Globals ------------- */
/* ---------------------------------- */

html {
  background-color: var(--bg);
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: "ComicRelief", "Comic Sans MS", "Comic Sans", sans-serif;

  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    margin: 0 var(--spacing-l);
  }
}

/* ---------------------------------- */
/* ----------- Typography ----------- */
/* ---------------------------------- */

p,
legend,
label,
textarea {
  color: var(--text);
}

h1,
h2 {
  margin-block-start: 2rem;
  margin-block-end: 0.5rem;

  font-weight: bold;
  color: var(--text-title);
  text-align: center;
}

h1 {
  font-size: 1.2rem;
}

h2,
legend {
  font-size: 1.15rem;
}

p,
label,
button,
textarea {
  font-size: 1rem;
}

/* ---------------------------------- */
/* ------------ Controls ------------ */
/* ---------------------------------- */

fieldset {
  border: 2px solid var(--control-border);
  border-radius: var(--control-border-radius);
  padding: var(--spacing-m);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

legend {
  padding: 0;
}

button {
  padding: var(--spacing-m) var(--spacing-l);
  color: var(--text);
  background-color: var(--control);
  border: 2px solid var(--control-border);
  border-radius: var(--control-border-radius);
  transition: all 0.2s ease;
  cursor: pointer;
  margin-bottom: var(--spacing-l);

  &:hover,
  &:focus {
    background-color: var(--control-highlight);
  }
}

textarea {
  resize: vertical;
  padding: var(--spacing-m);
  color: var(--text);
  background-color: var(--control-highlight);
  border: 2px solid var(--control-border);
  border-radius: var(--control-border-radius);

  &:disabled {
    background-color: var(--bg);
  }
}
