:root {
  --text: #4f5264;
  --text-title: #393c4d;
  --bg: #fff9ee;

  --control: #afafaf47;
  --control-highlight: #9e9ca7;
  --control-border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-title: #ffffff;
    --bg: #1a1d24;

    --control: var(--bg);
    --control-highlight: #4a4b55;
  }
}

/* ---------------------------------- */
/* ------------ Globals ------------- */
/* ---------------------------------- */

html {
  background-color: var(--bg);
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: "Chalkboard SE", "Comic Sans MS", "Comic Sans", sans-serif;

  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

/* ---------------------------------- */
/* ----------- Typography ----------- */
/* ---------------------------------- */

p, legend {
  color: var(--text);
}

h1,
h2 {
  font-weight: bold;
  margin-block-start: 2em;
  margin-block-end: 0.5em;
  color: var(--text-title);
  text-align: center;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.17em;
}

/* ---------------------------------- */
/* ------------ Controls ------------ */
/* ---------------------------------- */

fieldset {
  border: 2px solid var(--control-highlight);
  border-radius: var(--control-border-radius);
}

legend {
  font-size: 1em;
  padding: 0 6px;
}

button {
  padding: 10px 16px;
  background-color: var(--control);
  border: 2px solid var(--control-highlight);
  border-radius: var(--control-border-radius);
  color: var(--text);
  font-size: 14px;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--control-highlight);
  }
}
